
<!DOCTYPE html>
<html lang="zh">
 
<head>
    <meta charset="UTF-8" />
    <title>创建用户组</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="./sdk/sdk.css" />
    <link rel="stylesheet" href="./sdk/helper.css" />
    <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
    <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
    <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
 
<body>
    <div id="root" class="app-wrapper"></div>
    <script src="/amis/sdk.js"></script>
    <script type="text/javascript">
        (function () {
            let amis = amisRequire('amis/embed');
            // 通过替换下面这个配置来生成不同页面
            let amisJSON = {
  "type": "page",
  "asideResizor": false,
  "regions": [
    "body"
  ],
  "body": [
    {
      "type": "service",
      "id": "u:167dc13b0e32",
      "body": [
        {
          "type": "form",
          "id": "u:dddca865fae4",
          "title": "新建用户组",
          "body": [
            {
              "label": "名称",
              "type": "input-text",
              "name": "group_name",
              "id": "u:0ac0a678dd54",
              "value": ""
            },
            {
              "type": "radios",
              "label": "能否创建子频道/分区",
              "name": "canCreate",
              "options": [
                {
                  "label": "是",
                  "value": true
                },
                {
                  "label": "否",
                  "value": false
                }
              ],
              "id": "u:f1163e45b5e4",
              "required": true
            },
            {
              "type": "radios",
              "label": "能否封禁普通用户",
              "name": "canBan",
              "options": [
                {
                  "label": "是",
                  "value": true
                },
                {
                  "label": "否",
                  "value": false
                }
              ],
              "id": "u:c202dedfa643",
              "required": true
            },
            {
              "type": "radios",
              "label": "能否管理用户组",
              "name": "canManage",
              "options": [
                {
                  "label": "是",
                  "value": true
                },
                {
                  "label": "否",
                  "value": false
                }
              ],
              "id": "u:368e2f6681e0",
              "required": true
            },
            {
              "type": "radios",
              "label": "能否查看频道统计数据",
              "name": "canStats",
              "options": [
                {
                  "label": "是",
                  "value": true
                },
                {
                  "label": "否",
                  "value": false
                }
              ],
              "id": "u:e31f911f1717",
              "required": true
            }
          ],
          "api": {
            "url": "servers/create_group?user_name=${user_name}&server_name=${server_name}",
            "method": "post"
          },
          "className": "p-10",
          "actions": [
            {
              "type": "button",
              "label": "创建",
              "onEvent": {
                "click": {
                  "actions": [
                    {
                      "actionType": "submit",
                      "expression": "${!ISEMPTY(${group_name})}",
                      "componentId": "u:dddca865fae4"
                    },
                    {
                      "actionType": "dialog",
                      "expression": "${AND(!ISEMPTY(${server_name}),!ISEMPTY(${isPrivate}),!${exist},!${full})}",
                      "dialog": {
                        "type": "dialog",
                        "title": "创建成功",
                        "showCloseButton": true,
                        "showErrorMsg": true,
                        "showLoading": true,
                        "id": "u:e0979ad8b992",
                        "closeOnEsc": false,
                        "dataMapSwitch": false,
                        "actions": [
                          {
                            "type": "button",
                            "id": "u:0a90c83715fc",
                            "label": "返回主页面",
                            "onEvent": {
                              "click": {
                                "actions": [
                                  {
                                    "args": {
                                      "blank": false,
                                      "url": "main_page?user_name=${user_name}"
                                    },
                                    "actionType": "url"
                                  }
                                ]
                              }
                            },
                            "level": "primary",
                            "block": true,
                            "className": "m-t-md"
                          }
                        ]
                      }
                    }
                  ]
                }
              },
              "id": "u:3554f6dbaf1e",
              "size": "lg",
              "className": "w-40 m-r-lg",
              "level": "info",
              "block": false
            }
          ],
          "panelClassName": "border-solid border-2 border-blue-500 rounded-xl shadow-lg",
          "onEvent": {
            "change": {
              "weight": 0,
              "actions": [
                {
                  "componentId": "u:167dc13b0e32",
                  "actionType": "reload",
                  "data": null
                }
              ]
            },
            "submitSucc": {
              "weight": 0,
              "actions": [
              ]
            }
          },
          "messages": {
            "fetchFailed": "",
            "saveSuccess": "",
            "saveFailed": ""
          },
          "submitText": "注册"
        }
      ],
      "messages": {
      },
      "aside": [
        {
          "type": "divider",
          "id": "u:2b7f8d583c4f"
        },
        {
          "type": "divider",
          "id": "u:997e863e693e"
        }
      ],
      "asideResizor": false,
      "pullRefresh": {
        "disabled": true
      },
      "asideSticky": true,
      "regions": [
        "body"
      ],
      "style": {
        "fontFamily": "",
        "fontSize": 12,
        "textAlign": "left"
      },
      "className": "",
      "data": {
      }
    }
  ],
  "id": "u:167dc13b0e32",
  "pullRefresh": {
    "disabled": true
  },
  "aside": [
    {
      "type": "divider",
      "id": "u:2b7f8d583c4f"
    },
    {
      "type": "divider",
      "id": "u:997e863e693e"
    }
  ],
  "asideSticky": true,
  "style": {
    "fontFamily": "",
    "fontSize": 12,
    "textAlign": "left"
  },
  "className": ""
};
            let amisScoped = amis.embed('#root', amisJSON);
        })();
    </script>
</body>
 
</html>