<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CategoryVisibleMapper">
    <insert id="insert" parameterType="CategoryVisible" flushCache="true">
        insert into `categoryVisible`
        values (#{sid}, #{cname}, #{gname})
    </insert>

    <delete id="delete" parameterType="CategoryVisible">
        delete from `categoryVisible`
        where sid = #{sid} and cname = #{cname} and gname = #{gname}
    </delete>

    <select id="getVisibleCategories" parameterType="map" resultType="Category">
        call getVisibleCategories(#{uid}, #{sid})
    </select>
</mapper>