<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JoiningServerMapper">

    <insert id="insert" parameterType="JoiningServer" flushCache="true">
        insert into `joiningServer`
        values (#{uid}, #{sid}, #{gname}, now())
    </insert>

    <select id="selectByIds" parameterType="map" resultType="JoiningServer">
        select * from `joiningServer`
        where uid = #{uid} and sid = #{sid}
    </select>

    <update id="createJoinedServers" parameterType="User" flushCache="true">
        create view `joinedServers_${id}` as
        select servers.* from joiningServer, servers
        where joiningServer.uid = #{id} and
        joiningServer.sid = servers.id
    </update>

    <update id="grantJoinedServers" parameterType="User" flushCache="true">
        grant select, show view on `joinedServers_${id}` to #{name}
    </update>

    <select id="getMembers" parameterType="Server" resultType="Member">
        select id, `name`, `status`, gname, time
        from users, joiningServer
        where id = uid and sid = #{id}
    </select>
    
    <update id="setGroup" parameterType="JoiningServer" flushCache="true">
        update joiningServer
        set gname = #{gname}
        where uid = #{uid} and sid = #{sid}
    </update>

</mapper>