<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserMapper">

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into users(`name`, `mail`, `level`, `status`, `registry`, `money`)
            values(#{name}, #{mail}, #{level}, #{status}, now(), #{money});
    </insert>

    <update id="createUser" parameterType="map">
        create user #{name} identified by #{password}
    </update>

    <update id="createSelfView" parameterType="map">
        create view SelfView_${id} as
        select * from users where `id` = #{name}
    </update>

    <update id="grantSelfView" parameterType="map">
        grant select, show view on `SelfView_${id}` to `${name}`;
        grant update(`name`, `mail`, `status`) on `SelfView_${id}` to `${name}`;
    </update>

    <update id="grantRegularUser" parameterType="map">
        grant regularUser to #{name}
    </update>

    <select id="selectAll" resultType="User">
        select * from users
    </select>

    <select id="selectById" parameterType="int" resultType="User">
        select * from users
            where id = #{id}
    </select>

    <select id="selectByName" parameterType="String" resultType="User">
        select * from users
        where `name` like '%${name}%'
    </select>

    <update id="charge" parameterType="map">
        update users
        set money = money + #{money}
        where id = #{id}
    </update>

</mapper>